*{
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    
    
}

.page1{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* background-color: rgba(70, 70, 70, 0.66);     */
    background: linear-gradient(rgba(0, 15, 43,0.45),rgba(0,0,0,0.45),rgba(100, 86, 89,0.45)),url("./assets/asset\ 8.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: scroll;
    
    
}


#navigationBar{
    display: flex;
    flex-basis: 13%;
    margin-right: 123px;
    margin-left: 43px;
}

#navigationBar #image1{
    flex-basis: 22%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#navigationBar #image1 :hover{
    cursor: pointer;
}

#navigationBar #anchorTag{
    flex-basis: 78%;
    /* border: 1px solid green; */
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    column-gap: 32px;

}


#navigationBar #anchorTag a{
    text-decoration: none;
    /* color: rgb(2, 2, 2); */
    color: white;
    font-size: 16px;
    line-height: 70px;
    text-align: left;
    letter-spacing: normal;
}

#navigationBar #anchorTag button{
    margin: 0px 30px;
    padding-left: 0px;
    height: 45px;
    width: 167px;
    letter-spacing: 2px;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #1a6c7a;
    border: none;
    color: white;
}
#navigationBar #anchorTag button:hover{
    margin: 15px 30px;
    padding-left: 0px;
    height: 45px;
    width: 167px;
    letter-spacing: 2px;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #153243;
    border: none;
    color: white;
    transition: background-color,1000ms ease;
    cursor: pointer;

}

#page1_content{
    flex-basis: 87%;
    /* border: 1px solid pink; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page1_content h2{
    margin-top: 130px;
    color: white;
    letter-spacing: 2px;
    font-size: 28px;
    text-align: center;
}

#page1_content h1{
    margin-top: 27px;
    font-size: 50px;
    letter-spacing: 3px;
    color: whitesmoke;
}

#page1_content p{
    margin-top: 28px;
    text-align: center;
    text-align-last: center;
    line-height: 20px;
    color: white;
    font-weight: 5px;
}

#page1_content #button{
    margin-top: 52px;
    display: flex;
    column-gap: 40px;
}


#page1_content #button :nth-child(1){
    height: 47px;
    background: transparent;
    width: 163px;
    border: 1px solid white;
    letter-spacing: 2px;

}

#page1_content #button :nth-child(1):hover{
    height: 47px;
    background: transparent;
    width: 163px;
    /* border: 2px solid white; */
    letter-spacing: 2px;
    background-color: #153243;
    border: none;
    transition: background-color,1000ms ease;
    cursor: pointer;
}

#page1_content #button :nth-child(2){
    height: 47px;
    background-color: white;
    width: 163px;
    letter-spacing: 2px;
    border: none;
}

#page1_content #button :nth-child(2):hover{
    height: 47px;
    background: transparent;
    width: 163px;
    letter-spacing: 2px;
    background-color: #153243;
    transition: background-color,1000ms ease;
    cursor: pointer;
} 


